@model IEnumerable<OrganicShop2.Models.ViewModels.Shop.OrdersForUserVM>

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>

@if (!Model.Any())
{
<h2 class="text-center">You have no orders.</h2>    
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>
                Order Number
            </th>
            <th>
                Order Details
            </th>
            <th>
                Created At
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNumber)
            </td>
            <td>
                @foreach (var item2 in item.ProductsAndQty)
                        {
                            @item2.Key @:x @item2.Value <br/>
                        }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
             @Html.DisplayFor(modelItem => item.Total)€
            </td>
        </tr>
}
    </tbody>
</table>
}