@model IEnumerable<OrganicShop2.Models.ViewModels.Shop.OrdersForAdminVM>

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>

@if (!Model.Any())
{
    <h2 class="text-center">
        There are no orders
    </h2>
}
else
{

<table class="table">
    <thead>
        <tr>
            <th>
               @* @Html.DisplayNameFor(model => model.OrderNumber)*@
               Order Number
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.UserName)*@
                Username
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.Total)*@
               Order Details
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.CreatedAt)*@
               Created At
            </th>
            <th>
                Total
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @foreach(var item2 in item.ProductsAndQty)
                        {
                            @item2.Key @:x @item2.Value <br/>
                        }
               </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
        </tr>
}
    </tbody>
</table>

}