@model IEnumerable<OrganicShop2.Models.ViewModels.Shop.ProductVM>

@{
    ViewData["Title"] = "Products";
}
@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc;
<link href="~/lib/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h1>Products</h1>

<select id="SelectCategory" name="SelectCategory">
    <option value="0">All</option>
    @foreach (var item in ViewBag.Categories)
    {
        if (ViewBag.SelectedCat == item.Value)
        {
            <option selected="selected" value="@item.Value">@item.Text</option>
        }
        else
        {
            <option value="@item.Value">@item.Text</option>
        }
    }
</select>
<br />
<br />


<p>
    <a class="btn btn-success" asp-action="AddProduct">Add new product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
               Description
            </th>
            <th>
               Price
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>

        @foreach (var product in ViewBag.onePageOfProducts)
        {
        <tr>
            <td>
                @product.Name
            </td>
               <td>
                    @product.Description
            </td>
               <td>
                    @product.Price
            </td>
                <td>
                    <a href="/shop/EditProduct/@product.Id">
                        @if (product.Image == null)
                        {
                            <img src="/lib/no_img.jpg" width="80">
                        }
                        else
                        {
                        <img src="@product.Image" width="80">    
                        }
                    </a>
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditProduct", new {  id=product.Id  }, new {@class="btn btn-info"}) |
                    @Html.ActionLink("Delete", "Delete", new {  id=product.Id  }, new {@class="btn btn-danger"})
                </td>
        </tr>
        
            }


    </thead>
</table>

@Html.PagedListPager((IPagedList)ViewBag.onePageOfProducts, page => Url.Action("Products", new{page, catId = ViewBag.SelectedCat}))
